a {
  color: #00B7FF;
}

#login-form {
	text-align: center;
}

.card {
	margin-bottom: 1.5rem;
	width: 100%;
}

#search_box {
	margin-bottom: .75rem;
}

#results {
	visibility: hidden;
}

div .requests-page-header {
	padding-top: 3rem;
	text-align: center;
}
